Korisnici.ClientLibrary/Service References/WebServices.AccountsService/AccountsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Korsinici.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Korsinici.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdKorisnika" type="xs:int" />
      <xs:element minOccurs="0" name="ImeIPrezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
</xs:schema>