Korisnici.ClientLibrary/Service References/WebServices.AccountsService/AccountsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/rs.mvc.Korisnici.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/rs.mvc.Korisnici.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Administrator" type="xs:boolean" />
          <xs:element minOccurs="0" name="Aplikacije" nillable="true" type="tns:ArrayOfAplikacija" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="LozinkaPlain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemporaryPassword" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aktivan" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfAplikacija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aplikacija" nillable="true" type="tns:Aplikacija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplikacija" nillable="true" type="tns:ArrayOfAplikacija" />
  <xs:complexType name="Aplikacija">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HomeUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Korisnici" nillable="true" type="tns:ArrayOfKorisnik" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Aplikacija" nillable="true" type="tns:Aplikacija" />
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
</xs:schema>